{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ post.img_url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">{{ post.title }}</h2>
                        <p>{{ post.subtitle }}</p>
                        <p>{{ post.body }}</p>
                        <span class="caption text-muted">{{ post.author.name }} - {{ post.date }}</span>
                    </div>
                </div>
            </div>
        </article>
        {% if current_user.id == post.author_id %}
        <hr class="my-4" />
        <div class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ url_for('edit_post', post_id=post.id) }}">Edit Post</a></div>
            </div>
        </div>
        {% endif %}
        <div class="container px-4 px-lg-5">
        {% for comment in post.comments %}
            <p class="text-muted">{{ comment.comment_author.name }}</p>
            <p>{{ comment.text }}</p>
            {% if current_user.id == comment.author_id %}
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ url_for('delete_cmd', cmd_id=comment.id, post_id=post.id) }}">Delete</a></div>
            {% endif %}
        {% endfor %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
         </div>
{% include "footer.html" %}